.collection-section {
  padding: 50px 0;

  background-color: #f4f4f4;
  overflow: hidden;
}
.relative {
  position: relative;
}

.collection-section h2 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 36px;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  letter-spacing: -1px;
}

.collection-items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}
.collection-item h3 {
  margin-top: 0.3rem;

  font-size: 1.05rem;
  text-transform: capitalize;
  margin-bottom: 2px;
  font-weight: normal;
}
.collection-item img {
  width: 100%;
  height: 25rem;
  object-fit: cover;
  object-position: left;
  margin-bottom: 0;
  border-radius: 40px;
  transition: transform 0.4s;
  &:hover {
    transform: scale(1.01);
    cursor: pointer;
  }
}

.collection-item p {
  font-size: 0.9rem;
  color: #666;
  margin-bottom: 5px;
}
.collection-item button {
  background-color: rgb(168, 140, 40);
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 0.3rem;
}
.collection-item button:hover {
  background-color: darken(rgb(168, 140, 40), 100%);
}
.prod-cta p {
  font-size: 1.4rem;
}
/* media queries */
@media (max-width: 955px) {
  .collection-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}
@media (max-width: 550px) {
  .collection-section h2 {
    font-size: 28px;
    text-wrap: nowrap;
    white-space: nowrap;
    margin-left: -6px;
    margin-bottom: 10px;
    text-align: center;
  }
  .collection-section {
    padding: 50px 0 2rem 1rem;
    overflow: hidden;
  }
  .collection-item {
    text-align: center;
  }
  .collection-items {
    display: flex;
    overflow-x: auto;
    gap: 16px;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
  }

  .collection-items::-webkit-scrollbar {
    display: none;
  }

  .collection-item {
    flex: 0 0 91%;
    scroll-snap-align: start;
  }

  .collection-item:first-child {
    margin-left: 1.5rem; /* or 3rem for desktop spacing */
  }

  .collection-item:last-child {
    margin-right: 1.5rem;
  }
}
@media screen and (min-width: 550px) and (max-width: 1350px) {
  .collection-section {
    padding: 50px 2rem;
  }
}
