.footer-container {
  margin: 0 auto;
  padding: 6rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 32px;
  background: #f4f4f4;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    width: 50%;
    height: 2px;
    top: 20px;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(168, 140, 40, 0.534);
    border-radius: 20px;
  }
}

.footer-brand {
  text-align: left;
  margin-bottom: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-brand .logo > img {
  max-width: 80%;
  height: auto;
}

.footer-brand p {
  color: #444;
  font-size: 1rem;

  text-align: center;
}

.footer-links {
  display: flex;
  gap: 48px;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: start;
}
.links-content {
  display: flex;
  gap: 48px;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: start;
}
.footer-links h4 {
  font-size: 1.1rem;
  color: rgb(168, 140, 40);
  margin-bottom: 8px;
  font-weight: 600;
}

.footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-links li {
  margin-bottom: 6px;
}

.footer-links a {
  color: #222;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.2s;
}

.footer-links a:hover {
  color: rgb(168, 140, 40);
}

.footer-social {
  margin: 18px 0;
  display: flex;
  gap: 18px;
}

.footer-social a img {
  filter: grayscale(1) brightness(0.5);
  transition: filter 0.2s;
}

.footer-social a:hover img {
  filter: none;
}

.footer-bottom {
  border-top: 1px solid #e0e0e0;
  padding-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  font-size: 0.95rem;
  color: #888;
  align-items: flex-start;
}

.footer-bottom a {
  color: #888;
  text-decoration: underline;
  margin: 0 4px;
  font-size: 0.95rem;
}

@media (max-width: 1205px) {
  .footer-links {
    flex-direction: column;
    align-items: center;

    gap: 18px;
  }
  .footer-container {
    align-items: center;
    justify-content: center;
    min-height: 90vh;
    padding: 3rem;
  }
}
