.menu {
  top: -100vh;
  height: 100vh;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.98);
  padding-top: 70px;
  width: 100%;
  display: flex;
  flex-direction: column;
  place-items: center;
  place-content: center;
  transition: top 0.3s ease-in-out;
  z-index: 50;
}
.menu ul li {
  list-style: none;
  text-align: center;
}
.menu ul li a {
  padding: 12px 16px;
  text-decoration: none;
  color: rgb(25, 25, 25);
  font-size: 2rem;
}
.menu button {
  margin-top: 1rem;
  background: none;
  border: none;
}
.menu .buttons {
  gap: 10px;
  display: flex;
}
.menu.open {
  top: 0;

  inset: 0;
  transition: top 0.3s ease-in-out;
}
