.modal-container {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}
.modal-content > button {
  position: absolute;
  right: -10px;
  top: -10px;
  background: rgb(168, 140, 40);
  border: none;
  font-size: 1rem;
  cursor: pointer;
  color: white;
  padding: 0.5rem 0.8rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 40px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  display: flex;
  align-items: center;
  gap: 20px;
}
.modal-content {
  img {
    width: 100%;
    height: 30rem;
    object-fit: cover;
    object-position: center;
    margin-bottom: 0;
    border-radius: 20px 0 0 20px;
  }
  h2 {
    margin: 0;
  }
  .product-description {
    display: flex;
    flex-direction: column;
    gap: 20px;
    p {
      font-size: 1.2rem;
      margin: 0;
      max-width: 500px;
    }
    button {
      background-color: rgb(168, 140, 40);
      color: white;
      border: none;
      padding: 10px 15px;
      border-radius: 5px;
      cursor: pointer;
      color: white;
      border: none;
      padding: 10px 15px;
      border-radius: 5px;
      cursor: pointer;
      width: max-content;

      &:hover {
        background-color: rgb(202, 107, 84);
      }
    }
  }
}

/* media queries */

@media (max-width: 768px) {
  .modal-container {
    padding: 0 1.5rem;
  }
  .modal-content {
    img {
      width: 20rem;
      height: 20rem;
      object-fit: cover;
      object-position: top;
      justify-self: center;
    }
  }
  .modal-content {
    flex-direction: column;
    height: auto;
  }
}
