.showcase {
  background: fixed url("../assets/showcase.png") no-repeat center top / cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 60vh;
  padding: 1rem;
  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }
}
.showcase-content {
  max-width: 84rem;
  margin: 0 auto;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;
}
.showcase h2 {
  font-size: 3rem;
  color: rgb(255, 255, 255);
  margin-bottom: 1rem;
}

.showcase button {
  padding: 12px 24px;
  border: none;
  border-radius: 5px;
  background-color: rgb(168, 140, 40);
  color: white;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
}

.showcase button:hover {
  background-color: darken(rgb(168, 140, 40), 10%);
}
/* media queries */
@media (max-width: 768px) {
  .showcase h2 {
    font-size: 2rem;
  }
  .showcase button {
    font-size: 0.9rem;
  }
}
